@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* 
    Define your brand colors here. 
    The system will automatically generate the palette based on these colors.
  */
  --primary-base: #3b82f6; /* Blue 500 */
  --secondary-base: #6366f1; /* Indigo 500 */
  /**
   * Define your default font family here.
   */
  --font:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import "./styles/index.css";
